p{
  color:rgb(255, 0, 13);
  font-size: medium;
  font-weight: 800;
  text-align: center;
}
img{
  padding: 10%;
  height:80%;
  width: 80%;
}

.description{
background-color: aquamarine;
text-align: center;
}

.size{
  font: 800;
}